In [35]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df=pd.read_csv("C:/Users/HRISHI/Downloads/Multiple_Linear_Regression_Advertising_data.csv")

In [30]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [23]:
df.isnull()

        TV  Radio  Newspaper  Sales
0    False  False      False  False
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
5    False  False      False  False
6    False  False      False  False
7    False  False      False  False
8    False  False      False  False
9    False  False      False  False
10   False  False      False  False
11   False  False      False  False
12   False  False      False  False
13   False  False      False  False
14   False  False      False  False
15   False  False      False  False
16   False  False      False  False
17   False  False      False  False
18   False  False      False  False
19   False  False      False  False
20   False  False      False  False
21   False  False      False  False
22   False  False      False  False
23   False  False      False  False
24   False  False      False  False
25   False  False      False  False
26   False  False      False  False
27   False  False      False  False
28   False  False      False  False
29   False  False      False  False
..     ...    ...        ...    ...
170  False  False      False  False
171  False  False      False  False
172  False  False      False  False
173  False  False      False  False
174  False  False      False  False
175  False  False      False  False
176  False  False      False  False
177  False  False      False  False
178  False  False      False  False
179  False  False      False  False
180  False  False      False  False
181  False  False      False  False
182  False  False      False  False
183  False  False      False  False
184  False  False      False  False
185  False  False      False  False
186  False  False      False  False
187  False  False      False  False
188  False  False      False  False
189  False  False      False  False
190  False  False      False  False
191  False  False      False  False
192  False  False      False  False
193  False  False      False  False
194  False  False      False  False
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False

[200 rows x 4 columns]

In [31]:
x=df.drop('Sales',axis=1)
y=df.Sales

In [25]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [26]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)

In [38]:
reg=LinearRegression()

In [39]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
prediction=reg.predict(x_test)

In [43]:
prediction[0]

18.183583803079756

In [45]:
y_test

59     18.4
5       7.2
20     18.0
198    25.5
52     22.6
19     14.6
162    14.9
55     23.7
69     22.3
2       9.3
98     25.4
10      8.6
75      8.7
142    20.1
124    19.7
63     14.0
109    19.8
78      5.3
111    21.8
185    22.6
154    15.6
130     1.6
61     24.2
87     16.0
102    14.8
121     7.0
136     9.5
1      10.4
47     23.2
172     7.6
159    12.9
39     21.5
76      6.9
91      7.3
35     12.8
178    11.8
127     8.8
169    15.0
46     10.6
174    11.5
190    10.8
7      13.2
26     15.0
138     9.6
58     23.8
72      8.8
103    14.7
199    13.4
56      5.5
116    12.2
Name: Sales, dtype: float64

In [46]:
r2=r2_score(y_test,prediction)

In [47]:
r2

0.836684397405523