In [19]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv("C:/Users/HRISHI/Downloads/Visitor_Prediction_Multiple_Linear_Regression_data.csv")

In [4]:
data.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN

In [5]:
data.columns

Index(['Date', 'Views_show', 'Visitors', 'Views_platform', 'Ad_impression',
       'Cricket_match_india', 'Character_A', 'Unnamed: 7'],
      dtype='object')

In [7]:
data.drop('Unnamed: 7',axis=1,inplace=True)

KeyError: "['Unnamed: 7'] not found in axis"

In [8]:
data.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A
0,3/1/2017,183738,1260228,1706478,1060860448,0,0
1,3/2/2017,193763,1270561,1690727,1031846645,0,0
2,3/3/2017,210479,1248183,1726157,1010867575,0,0
3,3/4/2017,240061,1492913,1855353,1079194579,1,0
4,3/5/2017,446314,1594712,2041418,1357736987,0,0

In [17]:
x =data.drop(data.columns[[0,2]],axis=1)

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [11]:
x.head()

   Views_show  Views_platform  Ad_impression  Cricket_match_india  Character_A
0      183738         1706478     1060860448                    0            0
1      193763         1690727     1031846645                    0            0
2      210479         1726157     1010867575                    0            0
3      240061         1855353     1079194579                    1            0
4      446314         2041418     1357736987                    0            0

In [13]:
y=data.Visitors

In [16]:
y

0     1260228
1     1270561
2     1248183
3     1492913
4     1594712
5     1330689
6     1363579
7     1353483
8     1345428
9     1344540
10    1500926
11    1554859
12    1438887
13    1459500
14    1410668
15    1394130
16    1438125
17    1582773
18    1723653
19    1528669
20    1538487
21    1474098
22    1484382
23    1461298
24    1678527
25    1924046
26    1612675
27    1635533
28    1568398
29    1630580
       ...
50    1785345
51    1810697
52    2143350
53    2344650
54    2060757
55    1928796
56    1848354
57    1772449
58    1727098
59    1953231
60    2187064
61    1904704
62    1816855
63    1780230
64    1731468
65    1738676
66    2016144
67    2163629
68    1840748
69    1821016
70    1784534
71    1689260
72    1697576
73    1900320
74    2135756
75    1808684
76    1814227
77    1755803
78    1749654
79    1746735
Name: Visitors, Length: 80, dtype: int64

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=5)

In [22]:
reg=LinearRegression()

In [23]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
prediction=reg.predict(x_test)

In [39]:
prediction

array([1663017.14446949, 1817933.25366611, 1476688.26248513,
       1935548.92932294, 1790640.81313809, 2087630.80867756,
       1537941.49714852, 1505139.59322288, 1561326.75408442,
       1845628.49178369, 1377819.68369666, 1550997.64934512,
       1761873.19700695, 1634957.52992649, 1431072.36755834,
       2119986.19647288, 1782079.30924291, 2065908.25419711,
       1771883.74244934, 1386191.28633698])

In [34]:
y_test

40    1689178
25    1924046
10    1500926
59    1953231
63    1780230
45    1917386
29    1630580
24    1678527
17    1582773
48    1812134
12    1438887
37    1568119
75    1808684
33    1668290
13    1459500
67    2163629
49    1796219
74    2135756
70    1784534
6     1363579
Name: Visitors, dtype: int64

In [36]:
r2=r2_score(y_test,prediction)

##

In [37]:
r2

0.8921818377307736